.container {
    
}

.row {
    position: relative;
}

.cell {
    display: inline-block;
    position: relative;
    float: left;
}

.button {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: rebeccapurple;
    border: none;
    outline: none;
    margin: 1em;
    font-size: 20px;
}

.button:hover {
    font-weight: bold;
}

#size {
    font-size: 20px;
    width: 3em;
}